<h2><%= @user.full_name %></h2>
<p><%= @user.bio %></p>
<ul><li><%= @user.skills %></li></ul>

<!-- mettre liens externes en target blank et liens en images -->
<div>
  <%= link_to "Linkedin", @user.linkedin_link %> <%= link_to "Dribbble", @user.dribbble_link %> <%= link_to "GitHub", @user.github_link %>
</div>


<%= link_to "Compléter mon profil", edit_user_path(@user), class:"btn-rounded-blue" %>
